<!DOCTYPE html>
<html>
<head>
	<title>Admin change Password</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2>Admin change Password</h2>
<center>{{msg}}</center>
<table align="center" width="60%">
	<tr>
		<td>
			<form name="adminchangepassword" method="post" autocomplete="off"> 
				<font color="red">*</font>
				Current Password<br>
				<input type=" password" name="confirmpassword" class="from-control" required autofocus="on"><br>
			    <font color="red">*</font>
			    New Password<br>
			    <input type="password" name="newpassword" class="from-control" required><br>
			    <font color="red">*</font>Confirm New Password<br>
			    <input type="password" name="confirmnewpassword" class="from-control" required><br><br>
			    <center>
			    	<input type="submit" name="changepassword" value="changepassword" class="btn btn-success">
					<input type="reset" name="cancel" value="cancel" class="btn btn-warning">
			    </center>
			    {% csrf_token %}
			</form>
		</td>
	</tr>
</table>
</body>
</html>