<!DOCTYPE html>
<html>
<head>
	<title>Donor</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<h2>Donor</h2>
	
	<center>{{msg}}</center>
<table align="center" width="60%">
	<tr>
		<td> 
			<form name= "reciver" autocomplete="off" method='post' >
			<font color="red">*</font>
			Donor Name<br>
			<input type="text" required  autofocus="on" name="DonorName"><br>
			<font color="red">*</font>
			Last Name<br>
			<input required class="from-select" type="text" name="LastName"><br>
			<font color="red">*</font>
			Contact Number<br>
			<input required class="from-select" type="text" name="ContactNumber"><br> 
			<font color="red">*</font>
			Landline Number<br>
			<input required class="from-select" type="text" name="LandlineNumber"><br> 
			<font color="red">*</font>
			Email id<br>
			<input required class="from-select" type="email" autofocus="on" name="Emailid"><br>
			<font color="red">*</font>
			Address 1<br>
			<input type="address" required  autofocus="on" name="Address1"><br>
			<font color="red">*</font>
			Address 2<br>
			<input type="address" required  autofocus="on" name="Address2"><br>
			<font color="red">*</font>
			Gender
				<select class="from-select" name="Gender"><br>
				<option>female</option>
				<option>male</option>
				<option>Trangender</option>			
				</select><br><br>
			<font color="red">*</font>
			Blood Group Required<br>
				<select class="from-select" name="BloodGroupRequired"><br>
				<option>A+</option>
				<option>B+</option>
				<option>AB-</option>			
				</select><br>
			Date of Birth<br>
			<input required class="from-select" type="text" name="DateofBirth"><br>
			Qualification<br>
			<input required class="from-select" type="text" name="Qualification"><br>
			<font color="red">*</font>
			Profession<br>
			<input required class="from-select" type="text" name="Profession"><br>
			<font color="red">*</font>
			Height<br>
			<input required class="from-select" type="text" name="Height"><br>
			<font color="red">*</font>
			Weight<br>
			<input required class="from-select" type="text" name="Weight"><br>
			<font color="red">*</font>
			Food Habit<br>
			<select class="from-select" name="FoodHabit"><br>
				<option>Veg</option>
				<option>Non-Veg</option>		
				</select><br><br>
			<font color="red">*</font>
			Any Disease<br>
			<input required class="from-select" type="text" name="AnyDisease"><br>
		<center>
				<input type="submit" class="btn-success" name="register" value="register">
				<input type="cancel" class="btn-warning" name="cancel" value="cancel">
		</center>
{% csrf_token %}
		</form>
		</td>
	</tr>	


</body>
</html>